.basic-expansion-summary-root {
  /* background: linear-gradient(to right, #d9b394, #784922) !important; */
  background-color: #394a5c !important;
  border-top: 1px solid #7d8da1 !important;
  border-bottom: 1px solid #7d8da1 !important;
}

.emptyBoard-expansion-root {
  background-color: white !important;
}

.startPosition-expansion-root {
  background-color: white !important;
}
.fenString-expansion-root {
  background-color: white !important;
}
.positionObject-expansion-root {
  background-color: white !important;
}

.sparePieces-expansion-root {
  background-color: white !important;
}

.multipleBoards-expansion-root {
  background-color: white !important;
}
