.integrations-expansion-root {
  /* background: linear-gradient(to right, #fff2dd, #aa874f) !important; */
  background-color: #394a5c !important;
}

.moveValidation-expansion-root {
  background-color: white !important;
}

.randomVsRandom-expansion-root {
  background-color: white !important;
}

.stockfish-expansion-root {
  background-color: white !important;
}
