.integrations-expansion-root {
  background: linear-gradient(to right, #fff2dd, #aa874f) !important;
}

.moveValidation-expansion-root {
  background-color: #adbdd2 !important;
}

.randomVsRandom-expansion-root {
  background-color: #adbdd2 !important;
}

.stockfish-expansion-root {
  background-color: #adbdd2 !important;
}
