.table-root {
  width: auto !important;
  overflow: auto !important;
  background-color: red !important;
  border-radius: 0 !important;
}

.props-expansion-root {
  background: linear-gradient(to right, #fff2dd, #aa874f) !important;
}
